[Desktop Entry]
Name=LoKal
Comment=Offline AI Learning Assistant
Exec=/home/lokal/Desktop/loKal/start_lokal.sh
Icon=/home/lokal/Desktop/loKal/logo.png
Terminal=true
Type=Application
Categories=Education;
StartupNotify=true
