[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=true
Exec=/home/lokal/Desktop/loKal/start_lokal.sh
Name=LoKal
Icon=/home/lokal/Desktop/loKal/logo.png
Categories=Education;
Path=/home/lokal/Desktop/loKal
